.btn-admin {
    background-color: $colour-secondary;
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;

    &:hover {
        color: white;
        background-color: lighten($colour-secondary, 10%);
    }
}

.form-group {
    margin-bottom: 1rem;
}

h2.form {
    margin-top: 2.3rem;
}
