.tab-content {
    background: white;
    padding: 2em;
    min-height: 150px;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
    margin-top: -7px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: $colour-secondary;
    background-color: white;
    border-color: white;
    border-radius: 12px 12px 0 0;
}
